@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap');
header {
    background-color: #C11616;
    width: 100%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    height: 100px;
}

header .logo .linha1 {
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: #ffff;
    margin-left: 20px;
    
}

header .logo div {
    color: #ffff;
    padding-left: 20px;
    font-size: 21px;
    font-style: italic;
}

figure {
    margin: 0;
}


header input {
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid #fff;
}

menu {
    gap: 20px;
}

menu li {
    list-style: none;
    color: #fff;
}


menu a {
    color: #fff;
}

.container h1 {
    font-size: 40px;
}

.container .aspas {
    position: relative;
    top:80px;
    right: 100px;
}

.container .comentario {
    max-width: 1130px ;
    background-color: #EFF2F7;
    padding: 8px;
}

.container p {
    font-size: 21px;
    color: #707C8C;
    font-weight: 400;
    line-height: 160%;
}