.container {
    max-width: 1200px;
    width: 100%;
}


.centralizar {
    justify-content: center;
    align-items: center;
}

.centralizar-vertical {
    align-items: center;
}

.centralizar-horizontal {
    justify-content: center;
}

.flex {
    display: flex;
}

.alinhar-extremidades {
    justify-content: space-between;
}