@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.flex {
    display: flex;
}

.coluna {
    flex-direction: column;
}

body {
    justify-self: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    margin: 0;
}

li {list-style: none;
}

.container {
    max-width: 1200px;
    padding: 20px;
}
.azul {
    color:#2648A1 ;
}

.centralizar {
    justify-content: center;
    align-items:center ;
}

.centralizar-horizontal {
    justify-content: center;
}