header {
    padding: var(--spacing-spacing-base, 16px) var(--spacing-spacing-lg, 32px);
    border-bottom: 1px solid #E5E7EB;
}

header button {
    background-color: #F60;
    border-radius: 4px;
    padding: 4px 16px;
    gap: 10px;
    border: none;
    color: #fff;
}

header button:hover {
    background-color: #FD8535;
}

header div {
    gap: 16px;
}

header div strong {
    color:#0F3679;
}

main .sidebar {
    padding: 40px var(--spacing-spacing-md, 24px);
    border-right: 1px solid #E5E7EB;
    max-width: 167px;
}

main .sidebar {
    padding: 40px;
}

main .sidebar menu li {
    list-style: none;
}

main .sidebar menu a {
    color: #0D5EAF;
}

main .sidebar menu img {
    padding: 10px   ;
}

main .sidebar menu .button {
    padding: var(--spacing-spacing-sm, 8px);
    
}



















