@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main {
    width: 1180px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    padding:90px 135px  ;
    background: #a3979e;
}

main .card {
    display: flex;
    gap: 32px;
    margin-bottom: 71px;
}

main .foto {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 0;
}

main img {
    border-top-left-radius:5px;
    border-top-right-radius:5px ;
}

main .card h2 {
    margin: 0;
    color: #495057;
    max-width: 1200px;
}

main .card small {
    color: #6C757D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

main .card .foto .content {
    background-color: #fff;
    width: 337px;
    height: 48px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 16px;
}

main .card .foto-2 {
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    padding: 16px;
    width: 769px;
}

main .card .foto-2 p {
    color: #6C757D;
}

main .projetos h2 {
    color: #273644;
    font-style: normal;
    font-weight: 700;
    border-bottom: #DEE2E6 solid 1px;
    padding-bottom: 16px;
}

main .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    gap: 30px;
}

main .cards .projeto {
    display: flex;
    flex-direction: column;
    padding: 0; 
    max-width: 270px;
}

main .cards .card-content {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 16px;
}

main h3 {
    margin: 0;
    color: #495057;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
