body {
    font-family: "Lato";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main {
    width: 1200px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    padding:90px 135px  ;
    background: #a3979e;
}

main .card {
    display: flex;
}
.foto img {
    border-top-left-radius:5px;
    border-top-right-radius:5px ;
}
.foto {
    background-color: #fff;
    height: 340px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

main .cards {
    display: flex;
    flex-wrap: wrap;
}